<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        ADD NEW CUSTOMER
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<div th:if="${client != null}">
    <h4>Updated Customer Details:</h4>
    <p>Name: <span th:text="${client.name}"></span></p>
    <p>Email: <span th:text="${client.email}"></span></p>
    <p>Address: <span th:text="${client.address}"></span></p>
</div>

<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${customers}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/customers/{id}/remove(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/customers/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
